footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    width: 100%;
    height: 150px;
    background-color: silver;
}

footer .colegio{
    background-color: crimson;
    width: 50%;
}

footer .colegio .nomeColegio{
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

footer .desenvolvedor{
    background-color: deeppink;
    width: 50%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .desenvolvedor .nomeDesenvolvedor{
    font-weight: 500;
    font-size: 20px;
}